# Xcode
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
.build/
*.o
*.pyc
__pycache__/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Editor
*.swp
*~
.idea/
.vscode/
